<section id="services" class="py-0 py-sm-5">
  <div class="container bg-transparent">
    <h3 class="text-center bg-transparent">Our Services</h3>
    <div class="bg-transparent row justify-content-center px-3 py-5">
      <div class="col-sm-12 col-md-12 col-lg-8 content">
        <div class="service-list">
          {{ range $key, $value := .Site.Params.services.list }}
          <div class="service-item mb-4">
            <h4>{{ $key | title }}</h4>
            <p>{{ $value }}</p>
          </div>
          {{ end }}
        </div>
        <div class="telehealth-service mt-4">
          <h4>Telehealth</h4>
          <p>{{ .Site.Params.services.telehealth }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
